{% extends 'base.html.twig' %}

{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="about">
                <h1>
                    <i class="fa fa-cloud" aria-hidden="true"></i>About Page
				</h1>
            </div>

            <div id="about-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis ut tortor ac molestie. Pellentesque consequat varius mauris sed malesuada. Morbi vehicula rhoncus ligula, eu rhoncus nunc mollis id. Donec egestas ultricies metus ut hendrerit. Vestibulum pretium nulla vel ipsum porttitor, vitae rutrum purus elementum. In hac habitasse platea dictumst. Aenean sodales tellus eget dui porttitor congue. Sed gravida imperdiet condimentum.
				</p>
				<p>
					Maecenas ac tincidunt nisi. Ut eros lorem, consequat id libero at, tincidunt rhoncus ante. Proin dignissim venenatis porttitor. Donec vel sapien purus. Proin quis ex eros. Phasellus malesuada non eros eu tincidunt. Nulla cursus nibh quis lacus consequat interdum at sit amet orci. Nunc luctus, diam eu pretium blandit, lacus dui lobortis dui, sed tempor est odio fermentum risus. Mauris scelerisque sem sit amet lacus sodales interdum. Morbi dictum risus vitae convallis pretium. Maecenas fermentum vitae justo eget varius. Integer at elementum arcu, non mollis tellus. Etiam tincidunt dolor vel nibh placerat interdum. Maecenas aliquet elit quis luctus volutpat. Vivamus hendrerit lorem nec sapien tempus congue.
				</p>
				<p>
					Donec venenatis dui est, eu dictum magna fringilla id. Donec metus ante, porttitor porta ex quis, molestie scelerisque leo. Quisque accumsan magna non tempor placerat. Cras interdum lacus et est pharetra, nec lobortis erat tempus. Donec gravida leo id nisl tempus consequat. Cras dictum rutrum pretium. Praesent fringilla dolor at leo convallis ultrices. Fusce rutrum sollicitudin tincidunt. Ut justo ligula, cursus at pellentesque quis, volutpat sit amet odio. Fusce rutrum ornare lacinia. Aliquam sed molestie lacus, quis commodo felis.
                </p>
            </div>
        </div>
    </div>
{% endblock %}