{% extends 'base.html.twig' %}

{% block title %}
    About
{% endblock %}

{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>About</h1>
            </div>

            <div id="lipsum">
                <h2><span>This is the About page!</span></h2>

                <p>
                    <a>
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </a>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor aliquam eros ut commodo.
                    Morbi vitae ultrices erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                    facilisi. Quisque ut tellus nunc. Aliquam erat volutpat. Nunc in mauris dictum odio posuere
                    aliquet vitae sed turpis. Aliquam sit amet feugiat ipsum. Maecenas consequat aliquet nisl sed
                    semper. Proin purus augue, viverra id dui nec, luctus mattis nibh. Fusce scelerisque odio in est
                    maximus, vel interdum lorem vulputate. Aliquam gravida tincidunt libero eget vestibulum.
                </p>

                <p>
                    Curabitur fermentum pulvinar justo, in consectetur dui cursus quis. Fusce fermentum tempor
                    tortor et tristique. In ullamcorper pretium odio, in ultricies justo sagittis quis. Nam odio
                    dui, scelerisque ut suscipit sit amet, tempus a odio. Nam nec quam porta, porta justo nec,
                    dictum nibh. Fusce tempus turpis lectus, at sagittis eros vestibulum vitae. Ut hendrerit velit
                    vitae eros dapibus convallis.
                </p>
            </div>

        </div>
    </div>
{% endblock %}